.content-card {
    padding: 0 4em;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}


.content-wrapper h1 {

    font-weight: bolder;
    color: #44BEFF;
    font-size: 3rem;
}

.con-text {
    color: #d4d4d4;     
    font-size: 1.5rem;
    width: 60%;
    margin-top: 2em;
}

img {
    height: 90%;
}