.hero {
    padding: 2em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    color: #d4d4d4;
    font-size: 4rem;
    line-height: 1.8em;
    position: relative;
    top: -5.5rem;
}

.myname {
    color: #4FC8E2;
    font-weight: 800;
    text-shadow: 0 0 30px #4FC8E2;
    animation: blob 2s infinite;
}

img {
    width: 20em;
    height: 90%;
}

.hoze {
    color: #70CDFF;
}

@keyframes blob {
    0% {
        text-shadow: none;
    }

    25% {
        text-shadow: 0 0 3px #70CDFF;
    }

    50% {
        text-shadow: 0 0 30px #4FC8E2;
    }
    
    75% {
        text-shadow: 0 0 7px #4FC8E2;
    }
    
    100% {
        text-shadow: 0 0 30px #4FC8E2;
    }
}